html, body {
	margin: 0;
	padding: 0;
	font: 'Helvetica Neue', arial, sans-serif;
}

h1, h2, h3, h4, h5 {
	font-weight: 100;
}

:root {
  --mdc-theme-primary: #595d75;
}

.App {
	width: 100%;
}

.App-main {
	width: 100%;
	padding: 16px;
	box-sizing: border-box;
}

#paint-canvas {
	margin-top: 6px;
  border: 1px solid #aaa;
}

.PaintToolbar {
	margin-top: 8px;
	width: 100%;
}

.PaintToolbar-button {
	display: inline-block;
	margin-right: 8px;
}
